# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
[Ee]xported[Oo]bj/

# Bin/Obj ở mọi cấp
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
.msbuild/

# IDE
.vs/
.idea/
*.csproj.user
*.user
*.userprefs
*.sln

# Generated
*GlobalUsings.g.cs

# OS
.DS_Store
Thumbs.db